body
{
	margin: auto;
	background-color: #282828;
}

#wrapper
{
	margin: auto;
	width: 800px;
}

/* HEADER */ 

#header
{
	
}

#header-coin-gauche
{
	height: 117px;
	width: 65px;
	background-image: url("images/header-coin-gauche.png");
}

#header-fond-barre
{
	height: 63px;
	width: 500px;
	background-image: url("images/header-fond-barre.png");
	background-repeat: repeat-x;
	position: relative;
	left: 65px;
	top: -64px;

}

/*  */

#body-ombre-gauche
{
	height: 500px;
	width: 122px;
	background-image: url("images/body-ombre-gauche.png");
	background-repeat: repeat-y;
	float: left;
}

#content
{
	float: left;
}

#body-ombre-droite
{
	height: 500px;
	width: 122px;
	background-image: url("images/body-ombre-gauche.png");
	background-repeat: repeat-y;
	float: left;
}

/***/
