body
{
	margin: auto;
	background-color: #282828;
}

#wrapper
{
	width: 75%;
	margin: auto;
}

#cote-gauche
{
	float: left;
}

#header-gauche
{
	height: 117px;
	width: 65px;
	position: relative;
	
	background-image: url("images/header-coin-gauche.png");
}

#body-ombre-gauche
{
	height: 500px;
	width: 122px;
	top: 0px;
	position: absolute;
	background-image: url("images/body-ombre-gauche.png");
	background-repeat: repeat-y;
}

/**/

#cote-droite
{
	float: right;
}

#header-droite
{
	height: 117px;
	width: 65px;
	background-image: url("images/header-coin-gauche.png");
}

#body-ombre-droite
{
	height: 500px;
	width: 122px;
	background-image: url("images/body-ombre-gauche.png");
	background-repeat: repeat-y;
}

/************************************************/
/******************** HEADER ********************/
/************************************************/

#header
{
	
}

#header-recherche-langue
{
	background-color: #333333;
}

#header-navigation
{
	height: 63px;
	background-image: url("images/header-fond-barre.png");
	background-repeat: repeat-x;
}



#header-navigation ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#header-navigation li
{
	display: inline;
	padding: 10px;
}

/******************** CONTENT ********************/

#content-wrapper
{
	float: left;
}

#content
{
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
}

#content p
{
	margin-left: 0px;
	margin-right: 0px;
}